/* Header.css */

/* Styles for the Header component */
header {
  color: red;
  
  text-align: center;
  /* Ensure the background image covers the entire header */
  position: relative;
  overflow: hidden;
  height: 65px;
}
